<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/create/article">Write</a>
                    </li>
                   
                   
                  </ul>
                  
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <div class="dropdown">
                      <button  type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p class="dropdown-item" style="text-align: center;cursor: pointer;background-color: whitesmoke;">Hello <%= user.username %>!</p>
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/stats">Stats</a>
                        <a class="dropdown-item" href="/interests">Interests</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                      </div>
                    </div>
                 
            
                </div>
              </nav>
    <section class="container">

    <form action="/create/article">
    <button class="btn btn-outline-secondary">Write an Article</button>
    </form>
    
    
  <h2>Articles</h2>
  <span style="display:none" id="dploc"><%= user.dp %></span>
  <div  id="artdiv">
  <%  articles.forEach(function(art){ %>
    <div >
      <div class="card art">
       <div class="detdiv">
         <div id="<%= art.id %>" class="point" onclick="viewfn(this)">
       <h4><%= art.title %></h4>
       <p>By <%= art.createdUser %></p>
       <p><%= art.short %></p>
       
   
      </div>
         <% var t=0 %>
         <% for(var i=0;i< user.likedart.length;i++){ %>
           <% if(user.likedart[i]==art.id){ %>
              <% t=1; %>
             <%  break; %>

          <% } %>
      <%   }    %>
     <%  if(t==0){ %>
      <i class="fa fa-heart-o unliked" id="<%= art.id %>"  aria-hidden="true" onclick="likedfn(this)"></i><span class="likes" ><%= art.likes %></span>
     <% } %>
    <% if(t==1){ %>
      <i class="fa fa-heart liked" id="<%= art.id %>"  aria-hidden="true" onclick="likedfn(this)"></i><span class="likes" ><%= art.likes %></span>
    <% } %>
    <% var t=0 %>
    <% for(var i=0;i< user.bookmarks.length;i++){ %>
      <% if(user.bookmarks[i]==art.id){ %>
         <% t=1; %>
        <%  break; %>

     <% } %>
 <%   }    %>
 <%  if(t==0){ %>
  <i class="fa fa-bookmark-o " id="<%= art.id %>" onclick="bookart(this)"></i>
 <% } %>
<% if(t==1){ %>
  <i class="fa fa-bookmark" id="<%= art.id %>" onclick="bookart(this)"></i>
<% } %>
    
<span class="adate"><%= art.Date %></span>
<span class="adate"><%= art.readtime %> min read</span>     
       
       
 
    
      </div>
      
      <div class="artimgdiv" >

         <% if(art.img.src==undefined){ %>
            
       <img class="artimg"  src="/images/noimg.jpeg"   alt="article image">
         <% } %>
        <% if(art.img.src!=undefined){ %>
          
          <img class="artimg"  src="<%= art.img.src %>"   alt="article image">
        <% } %>
     
      </div>
      </div>
      
    </div>
 <%  }) %>
</div>
</section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/home.js"></script>
</body>
</html>